*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Navbar */

nav {
    height: 40px;
    line-height: 40px;

    background-color: #ff6600;
}

nav .logo {
    float: left;
}

nav .ml-link {
    float: right;
}

/* Logos */

.logo-monkeylearn {
    background: url('/static/images/logo.png') repeat scroll 0% 0% / contain transparent;
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
    top: 2px;
}

.logo-hackernews {
    background: url('/static/images/hackernews.gif') repeat scroll 0% 0% / contain transparent;
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px #ffffff solid;
    vertical-align: bottom;
    top: 2px;
}
