*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Font style */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Link style */

a {
    text-decoration: none;
}

a:link {
    color: #2980b9;
}

a:visited {
    color: #2980b9;
}

a:hover {
    color: #2980b9;
}

/* Navbar */

nav {
    height: 40px;
    line-height: 40px;

    background-color: #ff6600;
}

.navbar {
    width: 80%;
    margin: 0 auto;
    padding: 0 35px;

    font-weight: bold;
    font-size: 13px;
}

nav .brand {
    float: left;
}

nav .ml-link {
    float: right;
}

nav a:link, nav a:visited, nav a:hover {
    color: #222;
}

/* Logos */

.logo {
    width: 20px;
    height: 20px;
    display: inline-block;
    top: 5px;
    position: relative;
}

.logo-monkeylearn {
    background: url('/static/images/logo.png') repeat scroll 0% 0% / contain transparent;
}

.logo-hackernews {
    background: url('/static/images/hackernews.gif') repeat scroll 0% 0% / contain transparent;
    border: 1px solid white;
}

/* Main posts list */

main {
    width: 60%;
    margin: 25px auto;
    padding: 25px;

    border: 1px solid #ccc;
    border-radius: 4px;

    background: rgb(246, 246, 239);
}

main header {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

main header h1 {
    display: inline-block;
    font-size: 1.2em;
}

main header .category-list {
    margin-top: 10px;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

main header .category-list li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #ccc;
}

main header .category-list li:first-child {
    padding: 0 10px 0 0;
    border-left: 0;
}

main header .category-list li:last-child {
    padding: 0 0 0 10px;
}

main header .category-list i {
    display: block;
    font-size: 13px;
    padding-top: 5px;
}

main .more {
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px;
}

/* Posts */

.post {
    margin-top: 10px;
}

.post:first-child {
    margin-top: 20px;
}

.post .category {
    display: inline;
}

.post .category .label {
    margin: 0 5px;
    padding: 3px;

    border-radius: 3px;

    font-size: 12px;
}

/* Modal style */

.modal {
    display: none;
}

/* Chart */

#chart {
    width: 60%;
    margin: 25px auto;
}

/* Chart toggle */

#chart-toggle {
    float: right;
    padding: 4px;
    font-weight: bold;
}
