{% extends "bootstrap/base.html" %}

{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
        $(function () {
            var colors = [
                {% for color in statistics.colors %}
                    '{{color}}',
                {% endfor %}
            ];
            var categories = [
                {% for category in statistics.categories %}
                    '{{category.0.strftime("%H")}}',
                {% endfor %}
            ];

            $('#chart').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Top news categories',
                    x: -20 //center
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: 'Number of posts'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                    tickInterval: 1
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                colors: colors,
                series: [{
                    name: 'machinelearning',
                    data: {{statistics.data.machinelearning}},
                    visible: {% if category == 'all' or category == 'machinelearning' %} true {% else %} false {% endif %}
                }, {
                    name: 'programming',
                    data: {{statistics.data.programming}},
                    visible: {% if category == 'all' or category == 'programming' %} true {% else %} false {% endif %}
                }, {
                    name: 'startups',
                    data: {{statistics.data.startups}},
                    visible: {% if category == 'all' or category == 'startups' %} true {% else %} false {% endif %}
                }, {
                    name: 'worldnews',
                    data: {{statistics.data.worldnews}},
                    visible: {% if category == 'all' or category == 'worldnews' %} true {% else %} false {% endif %}
                }, {
                    name: 'other',
                    data: {{statistics.data.other}},
                    visible: {% if category == 'all' or category == 'other' %} true {% else %} false {% endif %}
                }]
            });
        });            
    </script>
{% endblock %}

{% block navbar %}
    <!-- Navigation -->
    <nav class="container  navbar-inverse navbar-fixed-top" role="navigation" 
         style="background-color: rgb(255, 102, 0); 
                border-color: rgb(192, 77, 0);
                height: 30px;
                margin-top: 10px;">
        <div class="navbar-header" style="margin-top: -12px">
            <a class="navbar-brand" href="/" style="color: black; font-size: 15px;">
                <div style="
                    background: url('/static/images/logo.png') repeat scroll 0% 0% / contain transparent;
                    position: relative;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    margin-left: -20px;"> </div>
                <div style="
                    font-size: 17px;
                    position: relative;
                    top: -5px;
                    display: inline-block;
                    font-weight: 500;"> 
                    Hackernews 
                    <small> by Monkeylearn </small>
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
        </div>
        <!-- /.navbar-collapse -->
        <!-- /.container -->
    </nav>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="margin-top: 35px; background-color: rgb(246, 246, 239);">
        <div class="row">
            <div class="col-lg-12">
                <div id="chart"></div>

                <div style="font-size: 20px; margin-bottom: 20px; margin-top: 20px; border-bottom: 1px solid rgb(204, 204, 204);"> 
                    Top news
                    <div class="pull-right">
                        {% for label in labels %}
                            <a href="/news?c={{label}}" style="font-size: 12px"> {{label}} | </a>
                        {% endfor %}
                        <a href="/news?c=all" style="font-size: 12px"> all </a>
                    </div>
                 </div>

                {% for post in posts %}
                    <div>
                        <a href="{{post.url}}" > {{post.title}} </a>
                        <div class="pull-right">
                            <span class="label label-primary"
                                {% if post.result.label == 'machinelearning' %} 
                                    style="background-color:{{statistics.colors.0}}"
                                {% elif post.result.label == 'programming'%}
                                    style="background-color:{{statistics.colors.1}}"
                                {% elif post.result.label == 'startups' %}
                                    style="background-color:{{statistics.colors.2}}"
                                {% elif post.result.label == 'worldnews' %}
                                    style="background-color:{{statistics.colors.3}}"
                                {% else %}
                                    style="background-color:{{statistics.colors.4}}"
                                {% endif %}> 
                                {{post.result.label}} ({{post.result.probability}})
                            </span>
                        </div>
                        <p>
                            <small> 
                                {{post.score}} points by {{post.username}} 
                                <a href="https://news.ycombinator.com/item?id={{post.id}}" target="_blank">
                                    {{post.comments}} comments 
                                </a>
                            </small>
                        </p>
                    </div>
                {% endfor %}
                <a href="/news?p={{page+1}}&c={{category}}" style="margin-top: 10px; padding-bottom: 10px"> More </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}