{% extends "bootstrap/base.html" %}

{% block title %}
  My Hacker News by MonkeyLearn
{% endblock %}

{% block head %}
    {{super()}}
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/static/images/hackernews.gif">
    <link rel="stylesheet" href="/static/css/main.css">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
        $(function () {
            var colors = [
                {% for color in statistics.colors %}
                    '{{color}}',
                {% endfor %}
            ];
            var time_intervals = [
                {% for interval in statistics.time_intervals %}
                    '{{interval.0.strftime("%H")}}',
                {% endfor %}
            ];

            $('#chart').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Top news categories',
                    x: -20 //center
                },
                xAxis: {
                    categories: time_intervals
                },
                yAxis: {
                    title: {
                        text: 'Number of posts'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                    tickInterval: 1
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                colors: colors,
                series: [
                {% for cat in categories %}
                    {
                        name: '{{cat}}',
                        data: {{statistics.data[cat]}},
                        visible: {% if category == 'all' or category == cat %} true {% else %} false {% endif %}
                    },
                    {% endfor %}
                ]
            });
        });            
    </script>
    <script>
    </script>
{% endblock %}

{% block navbar %}
    <!-- Navigation -->
    <nav class="container navbar-inverse navbar-fixed-top header-container" role="navigation">
        <div class="navbar-header header">
            <div class="navbar-brand title">
                <div class="title">
                    <a class="pull-left" href="/">
                        M
                        <div class="logo-hackernews"></div>
                        Hacker News
                     </a> 
                    <a class="pull-right" target='_blank' href="https://blog.monkeylearn.com/hacker-news-categorizer-with-monkeylearn/">
                        Made by
                        <div class="logo-monkeylearn"></div>
                        MonkeyLearn
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container" style="margin-top: 35px; background-color: rgb(246, 246, 239);">
        <div class="row">
            <div class="col-lg-12">
                <div id="chart"></div>

                <div class="list-container"> 
                    <div class="header"> 
                        Top news
                        <div class="pull-right">
                            {% for c in categories %}
                                <a class="category" href="/news?c={{c}}">{{c}} | 
                                </a>
                            {% endfor %}
                            <a class="category" href="/news?c=all" style="font-size: 12px"> all </a>
                        </div>
                     </div>
                    <div class="list">
                        {% for post in posts %}
                            <div class="item">
                                <a href="{{post.url}}" >{{post.ranking}}.  {{post.title}} </a>
                                <div class="category">
                                    <span class="label label-primary" data-toggle="modal" data-target="#{{post.id}}"
                                        {% for c in categories %}
                                            {% if post.result.label == c %} 
                                                style="background-color:{{statistics.colors[loop.index0]}}"
                                            {% endif %}
                                        {% endfor %}> 
                                        {{post.result.label}} 
                                        {% if post.result.label != 'random' %}
                                            ({{post.result.probability}})
                                        {% endif %}
                                    </span>
                                </div>
                                <p>
                                    <small> 
                                        {{post.score}} points by {{post.username}} 
                                        {{moment(post.time).fromNow()}}
                                        |
                                        <a href="https://news.ycombinator.com/item?id={{post.id}}" target="_blank">
                                            {{post.comments}} comments 
                                        </a>
                                    </small>
                                </p>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            Extracted text
                                            {% if post.result.label == 'random' %}
                                                <span class="label label-primary"
                                                    {% for c in categories %}
                                                        {% if post.original_result.label == c %} 
                                                            style="background-color:{{statistics.colors[loop.index0]}}"
                                                        {% endif %}
                                                    {% endfor %}> 
                                                    {{post.original_result.label}} ({{post.original_result.probability}})
                                                </span>
                                            {% else %}
                                                <span class="label label-primary"
                                                    {% for c in categories %}
                                                        {% if post.result.label == c %} 
                                                            style="background-color:{{statistics.colors[loop.index0]}}"
                                                        {% endif %}
                                                    {% endfor %}> 
                                                    {{post.result.label}} ({{post.result.probability}})
                                                </span>
                                            {% endif %}
                                        </h4>
                                      </div>
                                      <div class="modal-body">
                                        {{post.text}}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <a href="/news?p={{page+1}}&c={{category}}" style="margin-top: 10px; padding-bottom: 10px"> More </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
