<nav class="container navbar-inverse navbar-fixed-top header-container" role="navigation">
  <div class="navbar-header header">
    <div class="navbar-brand title">
      <div class="title">
        <a class="pull-left" href="/">
          M
          <div class="logo-hackernews"></div>
          Hacker News
        </a>
        <a class="pull-right" target='_blank' href="https://blog.monkeylearn.com/hacker-news-categorizer-with-monkeylearn/">
          Made by
          <div class="logo-monkeylearn"></div>
          MonkeyLearn
        </a>
      </div>
    </div>
  </div>
</nav>
